body {
  height: 100vh;
  background-color: #818181;
}
.CatchAll {
font-family: 'Taviraj', serif;
}


.Head {
  height: 12vh;
  background-color: #473E3E;
  display: flex;
  align-items: center;
  border: black;
  border-width: 2.5px;
  border-style: solid;
}

.business-title {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: whitesmoke;
  padding-left: 20px;
  text-decoration: underline;
  text-decoration-color: rgb(71, 25, 17);
}

.spaceAndButtons {
  display: flex;
  flex-direction: row;
  border: black;
  border-width: 2.5px;
  border-style: solid;
}
.pushHouseInfoBtnRight {
  height: 16vh;
  width: 50vw;
  background-color: rgb(231, 231, 231);
}
.houseInfoNav {
  height: 16vh;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(231, 231, 231);  
}
.soldButton {
  height: 40px;
  width: 125px;
  font-size: 20px;
  font-family: 'Taviraj', serif;
  background-color: #818181;
  color: white;
  border-radius: 4%;
}
.deleteButton {
  height: 40px;
  width: 125px;
  font-size: 20px;
  font-family: 'Taviraj', serif;
  background-color: #818181;
  color: white;
  border-radius: 4%;
}

.allItemInfo {
  Height:60vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

}
.rightSide {
  height:60vh;
  width:50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 25, 17);
  border: black;
  border-width: 2.5px;
  border-style: solid;
}
.formContainer {
  height:60vh;
  width:50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 25, 17); 
  font-family: 'Taviraj', serif;
  border: black;
  border-width: 2.5px;
  border-style: solid;
}
.formInput {
  height: 40vh;
  width: 35vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Taviraj', serif;
  font-size: 22px;
  border: black;
  border-width: 2.5px;
  border-style: solid;
  flex-direction: column;
  border-radius: 1.25%;

}
form {
  height: 40vh;
  width: 35vw;
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Taviraj', serif;
  border: black;
  border-width: 2.5px;
  border-style: solid;
  flex-direction: column;
  border-radius: 1.25%;
}
.inpt {
  height: 10%;
  width: 70%;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border: black;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 2.5%;

}
.adBtn {
  height: 40px;
  width: 125px;
  font-size: 20px;
  margin: 10px;
  font-family: 'Taviraj', serif;
  background-color: #818181;
  color: white;
  border-radius: 4%;
}

.ItemInfoBox {  
  height: 40vh;
  width: 35vw;
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: space-evenly;
  font-family: 'Taviraj', serif;
  font-size: 22px;
  border: black;
  border-width: 2.5px;
  border-style: solid;
  flex-direction: column;
  border-radius: 1.25%;
}
h3 {
  padding: 5px;
}
nav {
  height: 11vh;
  width: 100vw;
  background-color: #473E3E;
  display: flex;
}
.btnz {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 35px;
  border-top: black;
  border-width: 2.5px;
  border-style: solid;
}
.prevBtn {
  height: 40px;
  width: 125px;
  font-size: 20px;
  font-family: 'Taviraj', serif;
  background-color: #818181;
  color: white;
  border-radius: 4%;
}
.nextBtn {
  height: 40px;
  width: 125px;
  font-size: 20px;
  font-family: 'Taviraj', serif;
  background-color: #818181;
  color: white;
  border-radius: 4%;
}