body {
  height: 100vh;
  background-color: #818181;
}
.CatchAll {
font-family: 'Taviraj', serif
}


.Head {
  height: 12vh;
  background-color: #473E3E;
  display: flex;
  align-items: center;
}

.business-title {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: whitesmoke;
  padding-left: 20px;
}